{
  "extends": "airbnb",
  "env": {
    "jest": true,
    "browser": true,
  },
  "rules": {
    "max-len": [2, 250, 4],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
  }
}
