body {
  margin: 0 auto;
  padding-top: 50px; //NavBar
  font-family: sans-serif;
}

.footer {
  height: 20px;
  color: white;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  background-color: black;
}
